<div class="container ui center aligned">
  <div class="ui header huge" id="campaign-name-feedbacks">Please login before continue</div>
  <%= form_for :session, url: sessions_path, html: {class: 'ui form', id: 'new_session_form'}, remote: true do |f| %>
      <div class="inline field">
        <%= f.label :email %>
        <%= f.email_field :email, size: '50' %>
      </div>
      <div class="inline field">
        <%= f.label :password %>
        <%= f.password_field :password, size: '50' %>
      </div>
      <div class="ui error message container ui"></div>
      <div class="ui button submit">Submit</div>
  <% end %>
</div>

<script type="text/javascript">
  $('#new_session_form').form({
    fields: {
      'session[email]': ['email'],
      'session[password]': ['empty']
    }
  })
</script>
