<div class="ui modal small" id="new_user_modal">
  <i class="close icon"></i>
  <div class="header">
    Create new account
  </div>
  <div class="content">
    <%= form_for [:admin, User.new], url: '/admins/users', html: {class: 'ui form', id: 'new_user_form'}, remote: true do |f| %>
        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :name %>
          <%= f.email_field :name %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation %>
        </div>
        <div class="ui submit button">Submit</div>
        <div class="ui error message"></div>
        <div class="error_field" id="new_user_error_message"></div>
    <% end %>
  </div>
</div>

<script type="text/javascript">
  $.fn.form.settings.rules.matchPassword = function() {
    return $('#user_password').val() == $('#user_password_confirmation').val()
  };

  $('#new_user_form').form({
    fields: {
      'user[email]': ['email'],
      'user[password]': ['minLength[6]'],
      'user[password_confirmation]': ['matchPassword']
    }
  })
</script>
