<div class="ui left floated vertical segment">
  <h1 class="ui header">Edit Campaigns</h1>
</div>
<div class="ui right floated segment vertical">
  <a class="ui teal button"
     data-remote="true"
     data-method='post'
     data-confirm="Are you sure to send reminder email?"
     href="<%= send_reminder_admins_campaign_path(@result.campaign) %>">
    Send feedback reminder email
  </a>
  <a data-method='post'
     data-remote="true"
     data-confirm="Are you sure? Closed campaign will not accept feedback, cannot be editable and reopened. Mails for informing about this event will be sent."
     class="ui red button"
     href="<%= close_admins_campaign_path(@result.campaign) %>">
    Close
  </a>
</div>

<%= form_for [:admins, @result.campaign], html: { class: 'ui form edit-campaign-form' }, remote: true do |f| %>
  <div class="inline field">
    <label for="name">Name</label>
    <%= f.text_field :name, size: '90' %>
  </div>
  <button type="submit" class="ui button">Save</button>
<% end %>

<%= form_tag add_user_admins_campaign_path(@result.campaign), id: 'campaign-user', class: 'ui form', remote: true do -%>
    <div class="field">
      <label for="email">Enter participant's email</label>
      <div class="inline field">
        <input type="text" name="email" id="email" size="60"/>
        <button class="ui button">Add</button>
      </div>
    </div>
    <div class="ui error message"></div>
    <div id="error-message">
    </div>
<% end -%>

<div id="user-table">
  <%= render 'users' %>
</div>

<script type="text/javascript">
  $('#campaign-user').form({
    fields: {
      'email': ['email']
    }
  })
</script>
